@font-face {
    font-family: 'CommitMono';
    src: url('fonts/CommitMono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 15px; /* Now, 1em = 14px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CommitMono', sans-serif;
    color: white;
    background-color: black;
    letter-spacing: -.1px;
    text-transform: uppercase;
    font-weight: 600;
    word-spacing: 1px;
}

.container {
    max-width: 850px;
    border: .1em solid #171717;
    min-height: 100vh;
    margin: 100px auto 130px auto;
}

.grey {
    color: #737373;
    font-weight: 700;
}



.link:hover {
    color: #007bff;
    font-weight: 700;
}

section {
    padding: 1.3em;
    line-height: 3em;
    border-bottom: .1px solid #171717;
}

section>p>ul {
    line-height: 1.3em;
}

a {
    color: white;
}

a:hover {
    color: #007bff;
}

table {
    margin-top: 15px;
    line-height: 1.5em;
    /* Overrides section line-height for table */
}

ul li {
    text-transform: initial;
    margin-left: 10px;
    list-style: none;
    line-height: 1.6em;
    color: #eeeeee;
}

.codecase {
    background-color: #2b2b2b;
    padding: 0em .4em;
    border-radius: .33em;
    display: inline-block;
    margin: .1em 0;
}

.logo {
    height: 3em;
    margin: .1em;
}

.icons {
    height: 1.3em;
    margin: 0 .2em;
    vertical-align: sub;
    /* Try middle, baseline, or sub */
}


.techicons {
    padding: 0 10px;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 20px;
    /* Add some space at the bottom if needed */
}

.about-text {
    flex-grow: 1;
}

.aboutmelogo {
    width: 100px;
    /* Adjust as needed */
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tags {
    line-height: 2em;
}

.highlight {
    color: #d900ff;
}

.projects-section {
    margin: 0 auto;
    line-height: 1em;
}

.projects-heading {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    padding-top: 20px;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
}

.project-card {
    border: .1em solid #171717;
    width: 50%;
    aspect-ratio: 3/2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.project-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
}

.project-card:hover .project-overlay {
    background-color: rgba(0, 0, 0, .01);
}

.project-name {
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: initial;
    background: rgba(0, 0, 0, 0);
    /* Light translucent background */
    backdrop-filter: blur(10px);
    /* Blur effect */
    padding: 3px 6px;
    border-radius: 5px;
    /* Optional: makes the edges smoother */
}


.project-link {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #2b2b2b;
    padding: 3px 7px;
    border-radius: 3px;
    text-align: center;
}

.project-live {
    position: absolute;
    top: 10px;
    right: 70px;
    background-color: #2b2b2b;
    padding: 3px 7px;
    border-radius: 3px;
    text-align: center;
    text-transform: lowercase;
}

.project-link:hover,
.project-live:hover {
    background-color: #373f4d;
}

.tech-tags {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 2;
}

.tech-tag {
    color: #939393;
    font-size: .9em;
    background-color: #171717;
    padding: 3px 6px;
    border-radius: 3px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .project-card {
        width: 100%;
    }

    .aboutmelogo {
        width: 80px;
    }
}

@media (max-width: 500px) {
    .aboutmelogo {
        width: 60px;
    }
}

.original {
    text-transform: initial;
}

.currentdatetime {
    display: flex;
    gap: 10px;
    text-align: center;
    color: white;
    padding: 10px 20px;
    width: max-content;
    margin: 20px auto;
    text-transform: inherit;
    font-weight: 500;
}